#ad {
    width: 336px;
    height: 280px;
    background-color: #eeeeee;  
    background-image: unset;
    background-size: 45%;
    background-position: center;
    background-repeat: no-repeat;
}

body {
    background: #202020;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#title {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    text-align: center;
    color: #0a0a0a;
    margin-bottom: 1rem;
}

#weather {
    font-family: 'Roboto', sans-serif;
    font-size: 0.8em;
    text-align: center;
    color: #0a0a0a;
    margin-top: 190px;
    padding-left: 50px;
    padding-right: 50px;

}